<!Doctype html>
<head>
    <title>Home - Joke Recommender</title>
    
</head>
<body>
    
    <h1>Welcome to my Joke Recommender</h1>
    <h2>
        This is a project for avc<br>
        I have created a joke recommender which learns your preference starting with the first joke you rate.
        The first joke is randomly selected, the subsequent jokes are a result of your ratings.
        Happy laughing !
        
        <br>
        <br>
        
        Click on the button below to continue !
        
    </h2>
    <style>
        .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 25px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        }

        .button:hover {
        background-color: green;
        }
    </style>
        <button type = "button" class="button"  onclick="{{ url_for('recommend_joke') }}">Go ahead !</button>
    
</body>